---
interface Props {
  amount: number;
  description: string;
}
const { amount, description } = Astro.props;
---

<div class="border border-white/20 text-center p-2">
  <p class="text-3xl lg:text-7xl font-bold">+{amount}</p>
  <p class="text-sm md:text-sm">{description}</p>
</div>
